.Rproj.user
.Rhistory
.RData
.Ruserdata
/supplement/Cusk eel examples
data/CB02_HMD.csv
data/CB01_HMD.csv
data/DB01_202207_OL.csv
data/DB01_202207_OL.csv
data/DB01_202207_OL.csv
data/DB01_202301_OL.csv
data/DB01_202306_OL.csv
data/DB01_202311_OL.csv
data/DB01_202405_OL.csv
data/CB03_HMD.csv
data/DB01_HMD.csv
data/DB02_HMD.csv
data/DB03_HMD.csv
data/ES01_HMD.csv
data/ES02_HMD.csv
data/DB01_202207_OL.csv
data/DB01_202301_OL.csv
data/DB01_202306_OL.csv
data/ES03_HMD.csv
data/OL/DB01_202207_OL.csv
data/OL/DB01_202306_OL.csv
data/OL/DB01_202311_OL.csv
data/OL/DB01_202301_OL.csv
data/OL/DB01_202405_OL.csv
data/OL/DB02_202207_OL.csv
data/OL/DB02_202301_OL.csv
data/OL/DB01_OL.csv
data/DB01_202207_OL.csv
data/DB01_202301_OL.csv
data/DB01_202306_OL.csv
/data
